@import url(reset.css);

@import url(fonts.css);

.hero__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto 100px auto;
}
.wrapper {
  overflow: clip;
  min-height: 100%;
}
body {
  background-color: #fcf4f8;
}
/* 3-lvl menu */
.header {
  padding: 15px;
  background-color: #f5c7e3;
}
.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  min-width: 100%;
}
.header__cont {
  max-width: 800px;
  margin: 0 auto;
}

.menu {
  align-items: center;
  font-size: 0;
}
.menu__item {
  position: relative;
  display: inline-block;
  background-color: #a54380;
  font-size: 30px;
}
.menu__item:not(:last-child) {
  margin: 0 30px 0 0;
}

.menu__item:hover {
  background-color: #db5baa;
}
.menu__link {
  padding: 10px;
  min-width: 100%;
  color: #ffffff;
}
.menu__sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
}
.sub-menu {
  padding: 5px 0 0 0;
  min-width: 100%;
  visibility: hidden;
}
.sub-menu__item {
  background-color: #a657ad;
  position: relative;
}
.sub-menu__item:hover {
  background-color: #c681cc;
}
.sub-menu__link {
  position: relative;
  min-width: 100%;
  padding: 10px 10px 10px 20px;
  font-size: 25px;
  color: #ffffff;
}
.sub-menu__link:hover::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fde0fc;
  position: absolute;
  top: 38%;
  left: 5px;
}

.menu__item:hover .sub-menu {
  visibility: visible;
}
.menu__item--hover-blue:hover {
  background-color: #73a5b4;
}
.sub-menu__add-menu {
  position: absolute;
  top: 0;
  left: 100%;
}
.second-sub-menu {
  padding: 0 0 0 5px;
  min-width: 100%;
  visibility: hidden;
}
.second-sub-menu__item {
  background-color: #e071bb;
}
.second-sub-menu__link {
  min-width: 100%;
  position: relative;
  padding: 10px 10px 10px 20px;
  font-size: 25px;
  color: #ffffff;
}
.second-sub-menu__item:hover {
  background-color: #f191d0;
}
.sub-menu__item:hover .second-sub-menu {
  visibility: visible;
}
.second-sub-menu__link:hover::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e24ed1;
  position: absolute;
  top: 38%;
  left: 5px;
}

/* hero */
.page {
  font-size: 0;
  padding: 150px 0 0 0;
}
.page__hero {
  margin: 0 0 100px 0;
}
.article {
  vertical-align: top;
  position: relative;
  display: inline-block;
  max-width: 700px;
}
.article p {
  font-size: 20px;
  color: #4b2644;
}

.article__text {
  margin: 0 0 40px 0;
}
.article__text p:not(:last-child) {
  margin: 0 0 20px 0;
}
.article__title {
  font-size: 40px;
  text-align: center;
  margin: 0 0 20px 0;
  color: #f73b93;
  font-weight: 800;
}
.article__subtitle {
  font-size: 30px;
  margin: 0 0 20px 0;
  color: #f563a7;
  font-weight: 600;
}
.hero__side {
  margin: 0 20px 0 0;
  position: sticky;
  top: 150px;
  left: 0;
}
.side {
  display: inline-block;
  vertical-align: top;
  max-width: 200px;
  min-height: 150px;
  background-color: rgb(109, 62, 105);
  text-align: center;
  padding: 15px;
}
.side > *:last-child {
  margin: 0;
}
.side p {
  font-size: 18px;
  color: rgb(226, 226, 226);
  margin: 0 0 10px 0;
}
.side__title {
  margin: 0 0 15px 0;
  font-size: 25px;
  color: #f3d5e7;
}
.side__link {
  min-width: 100px;
  padding: 10px;
  background-color: #fff;
  font-size: 20px;
  color: #000000;
  margin: 0 0 10px 0;
}
.side__link:hover {
  background-color: #f0b0ed;
}
.side--left-margin {
  margin: 0 0 0 20px;
}
.side--blue {
  background-color: rgb(79, 153, 182);
}
/* Experts */
.experts-block {
  min-width: 1220px;
}
.experts-block__container {
  margin: 0 auto 100px auto;
  max-width: 1250px;
  padding: 0 15px;
}
.experts-block__card:nth-child(3n + 3) {
  margin: 0 0 31px 0;
}
.experts-block__card {
  margin: 0 31px 31px 0;
}
.card {
  display: inline-block;
  max-width: 386px;
  max-height: 532px;
  position: relative;
}
.card:hover .card__socials {
  visibility: visible;
}
.card:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(107, 119, 229, 0.7);
  position: absolute;
  left: 0;
  top: 0;
}
.card__img {
  width: 100%;
}
.card__socials {
  position: absolute;
  top: 45%;
  left: 27%;
  visibility: hidden;
}
.card__link-social {
  width: 50px;
}
.card__link-social:not(:last-child) {
  margin: 0 13px 0 0;
}
.card__link-social img {
  width: 100%;
}
.card__name-box {
  background-color: #fff;
  padding: 24px 47px;
  min-width: 341px;
  text-align: center;
  position: absolute;
  top: 77%;
  left: 5%;
}
.card__name-box p {
  color: #7d7d7d;
  font-family: Inter;
  font-size: 18px;
  line-height: 1.35;
}
.card__title {
  color: #37393f;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2;
}
