*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Causten */
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Semi-Bold.woff2") format("woff2"), url("../fonts/Causten-Semi-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Core Sans C */
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
  min-height: 100%;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1270px;
  padding: 0 15px;
}

.menu-opened body {
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #bebcbd;
  margin-bottom: 23px;
}
.header__container {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 100%;
  height: 100%;
  aspect-ratio: 91/45;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__link-logo {
  position: relative;
  z-index: 10;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91px;
          flex: 0 0 91px;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  position: relative;
  z-index: 2;
}
@media (max-width: 523px) {
  .header__buttons {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.header__button {
  padding: 12px;
  border-radius: 8px;
  background: #f6f6f6;
  text-align: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .header__button:hover {
    background-color: #dbdbdb;
  }
}
@media (max-width: 377px) {
  .header__button {
    padding: 10px;
  }
}
.header__button--violet {
  background: #8a33fd;
}
@media (any-hover: hover) {
  .header__button--violet:hover {
    background-color: #b582f8;
  }
}
.header__icon {
  display: none;
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 70px;
  }
  .header__icon {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .header__icon::before, .header__icon::after,
  .header__icon span {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #2c2c2c;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__icon::before {
    top: 0;
  }
  .menu-opened .header__icon::before {
    top: 50%;
    margin-bottom: -1px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header__icon::after {
    bottom: 0;
  }
  .menu-opened .header__icon::after {
    top: 50%;
    margin-bottom: -1px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__icon span {
    top: 50%;
    margin-top: -1px;
  }
  .menu-opened .header__icon span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

.menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 10px;
}
@media (max-width: 1077px) {
  .menu__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.menu__item {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .menu__item:hover {
    color: #2c2c2c;
  }
}
@media (max-width: 991.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    padding: 90px 0 0 0;
    overflow: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-opened .menu__body {
    right: 0;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    height: 71px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 2;
    border-bottom: 1px solid #bebcbd;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 40px;
  }
  .menu__item a {
    font-size: 50px;
  }
}
@media (max-width: 475px) {
  .menu__item a {
    font-size: 40px;
  }
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.search__input {
  position: relative;
  border-radius: 8px;
  max-width: 267px;
}
.search__input input {
  padding: 12px 20px 12px 52px;
  background-color: #f6f6f6;
  border-radius: 8px;
  width: 100%;
  font-family: "Causten", sans-serif;
}
.search__input input::-webkit-input-placeholder {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
.search__input input::-moz-placeholder {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
.search__input input:-ms-input-placeholder {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
.search__input input::-ms-input-placeholder {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
.search__input input::placeholder {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
.search__input input:focus {
  outline: 2px solid #3c4242;
}
.search__icon {
  position: absolute;
  top: 11px;
  left: 20px;
}
@media (max-width: 991.98px) {
  .search {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .search__input {
    max-width: none;
  }
}
@media (max-width: 467px) {
  .search {
    display: none;
  }
}

.page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 15px;
}
@media (max-width: 991.98px) {
  .page__body {
    display: block;
  }
}
.page__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 840px;
          flex: 0 1 840px;
}
.page__nav {
  margin: 0 0 52px 0;
}
@media (max-width: 561px) {
  .page__nav {
    margin: 0 0 30px 0;
  }
}
.page__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  color: #3c4242;
  font-family: "Core Sans C", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.19;
  letter-spacing: 0.56px;
}
.page__title::before {
  content: "";
  width: 6px;
  height: 28px;
  background-color: #8a33fd;
  border-radius: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6px;
          flex: 0 0 6px;
  margin: 2px 0 0 0;
}
.page__title:not(:last-child) {
  margin: 0 0 20px 0;
}
@media (max-width: 991.98px) {
  .page__title:not(:last-child) {
    margin: 0 0 30px 0;
  }
}
.page__billing-form {
  padding: 0 0 32px 0;
  margin: 0 0 30px 0;
}
.page__sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
}
@media (max-width: 991.98px) {
  .page__sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .page__sidebar:not(:last-child) {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 544px) {
  .page__sidebar:not(:last-child) {
    margin: 0 0 40px 0;
  }
}
.page__final-form {
  margin: 0 0 100px 0;
}
@media (max-width: 532px) {
  .page__final-form {
    margin: 0 0 50px 0;
  }
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 454px) {
  .nav__container {
    gap: 7px;
  }
}
.nav__arrow {
  width: 5px;
  height: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5px;
          flex: 0 0 5px;
}
.nav__link {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
@media (any-hover: hover) {
  .nav__link:hover {
    color: #4d4a4b;
  }
}
@media (max-width: 454px) {
  .nav__link {
    font-size: 16px;
  }
}
.second-title {
  color: #3c4242;
  font-family: "Core Sans C", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.52;
  letter-spacing: 0.44px;
}
@media (max-width: 991.98px) {
  .second-title {
    font-size: 26px;
  }
}

.billing-form {
  border-bottom: 2px solid #edeef2;
}
.billing-form__container {
  max-width: 800px;
}
.billing-form__title:not(:last-child) {
  margin: 0 0 50px 0;
}
@media (max-width: 544px) {
  .billing-form__title:not(:last-child) {
    margin: 0 0 30px 0;
  }
}
.billing-form__body {
  margin: 0 0 50px 0;
}
@media (max-width: 490px) {
  .billing-form__body {
    margin: 0 0 30px 0;
  }
}
.billing-form__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 38px;
     -moz-column-gap: 38px;
          column-gap: 38px;
  row-gap: 28px;
}
.billing-form__items:not(:last-child) {
  margin: 0 0 28px 0;
}
@media (max-width: 580px) {
  .billing-form__items {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 490px) {
  .billing-form__items {
    grid-template-columns: 1fr;
  }
}
.billing-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.billing-form__items--six-col .billing-form__input {
  grid-column: span 2;
}
@media (max-width: 602px) {
  .billing-form__items--six-col .billing-form__input {
    grid-column: span 1;
  }
}
.billing-form__input label {
  color: #3c4242;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.32px;
}
@media (max-width: 991.98px) {
  .billing-form__input label {
    font-size: 18px;
  }
}
@media (max-width: 544px) {
  .billing-form__input label {
    font-size: 16px;
  }
}
.billing-form__input input {
  width: 100%;
  padding: 16px 20px;
  border-radius: 8px;
  background-color: #f6f6f6;
  font-family: "Causten", sans-serif;
}
.billing-form__input input:focus {
  outline: 2px solid #3c4242;
}
.billing-form__input input::-webkit-input-placeholder {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.billing-form__input input::-moz-placeholder {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.billing-form__input input:-ms-input-placeholder {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.billing-form__input input::-ms-input-placeholder {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.billing-form__input input::placeholder {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 991.98px) {
  .billing-form__input input::-webkit-input-placeholder {
    font-size: 18px;
  }
  .billing-form__input input::-moz-placeholder {
    font-size: 18px;
  }
  .billing-form__input input:-ms-input-placeholder {
    font-size: 18px;
  }
  .billing-form__input input::-ms-input-placeholder {
    font-size: 18px;
  }
  .billing-form__input input::placeholder {
    font-size: 18px;
  }
}
@media (max-width: 544px) {
  .billing-form__input input::-webkit-input-placeholder {
    font-size: 16px;
  }
  .billing-form__input input::-moz-placeholder {
    font-size: 16px;
  }
  .billing-form__input input:-ms-input-placeholder {
    font-size: 16px;
  }
  .billing-form__input input::-ms-input-placeholder {
    font-size: 16px;
  }
  .billing-form__input input::placeholder {
    font-size: 16px;
  }
}
.billing-form__input--select {
  position: relative;
}
.billing-form__input--select select {
  width: 100%;
  padding: 16px 20px;
  border-radius: 8px;
  background-color: #f6f6f6;
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 14px;
}
.billing-form__input--select select:focus {
  outline: 2px solid #3c4242;
}
@media (max-width: 991.98px) {
  .billing-form__input--select select {
    font-size: 18px;
  }
}
.billing-form__input--select select option {
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 544px) {
  .billing-form__input--select select {
    font-size: 16px;
  }
}
.billing-form__input--select img {
  position: absolute;
  top: 52%;
  right: 20px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.billing-form__items--six-col {
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 602px) {
  .billing-form__items--six-col {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 490px) {
  .billing-form__items--six-col {
    grid-template-columns: 1fr;
  }
}
.billing-form__items--six-col .billing-form__input--two-col {
  grid-column: span 3;
}
@media (max-width: 602px) {
  .billing-form__items--six-col .billing-form__input--two-col {
    grid-column: span 1;
  }
}
.billing-form__button {
  padding: 16px 20px;
  color: #fff;
  text-align: center;
  font-family: "Causten", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 8px;
  background-color: #8a33fd;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.billing-form__button:not(:last-child) {
  margin: 0 0 20px 0;
}
@media (any-hover: hover) {
  .billing-form__button:hover {
    background-color: #6620c1;
  }
}
.billing-form__checkbox {
  color: #3c4242;
  font-family: "Causten", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 602px) {
  .billing-form__checkbox {
    font-size: 16px;
  }
}
.billing-form__custom-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.billing-form__custom-input + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.billing-form__custom-input + label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: url("../img/icons/checkbox.svg") no-repeat center;
  border-radius: 2px;
  margin: 0 10px 0 0;
}
.billing-form__custom-input:checked + label::before {
  background: url("../img/icons/checkbox-selected.svg") no-repeat center;
  border: none;
}

.summary {
  padding: 40px 22px 0 22px;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05), -2px -2px 4px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05), -2px -2px 4px 0px rgba(0, 0, 0, 0.05);
}
.summary__title {
  color: #3c4242;
  font-family: "Core Sans C", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
@media (max-width: 991.98px) {
  .summary__title {
    font-size: 30px;
  }
}
@media (max-width: 504px) {
  .summary__title {
    font-size: 26px;
  }
}
.summary__title:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 15px 0;
  border-top: 1px solid #edeef2;
  font-family: "Causten", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.28px;
}
@media (max-width: 991.98px) {
  .item-summary {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .item-summary {
    font-size: 16px;
  }
}
.item-summary__link-img {
  border-radius: 4px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 63px;
          flex: 0 0 63px;
  width: 63px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .item-summary__link-img {
    width: 83px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83px;
            flex: 0 0 83px;
  }
}
@media (any-hover: hover) {
  .item-summary__link-img:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.item-summary__link-img img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 63/63;
  border-radius: 4px;
}
.item-summary__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.item-summary__link-title {
  color: #3c4242;
}
@media (any-hover: hover) {
  .item-summary__link-title:hover {
    text-decoration: underline;
  }
}
.item-summary__link-title:not(:last-child) {
  margin: 0 0 5px 0;
}
.item-summary__amount {
  color: #807d7e;
}
.item-summary__descr {
  color: #3c4242;
}
.item-summary__descr:not(:last-child) {
  margin: 0 0 5px 0;
}
.item-summary__color {
  color: #807d7e;
  font-weight: 500;
}
.item-summary__price {
  color: #807d7e;
}

.total {
  border-top: 1px solid #edeef2;
  padding: 20px 0;
}
.total__item {
  color: #3c4242;
  font-family: "Causten", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991.98px) {
  .total__item {
    font-size: 22px;
  }
}
@media (max-width: 425px) {
  .total__item {
    font-size: 18px;
  }
}
.total__item:not(:last-child) {
  margin: 0 0 15px 0;
}
.total__item__text span {
  color: #807d7e;
  font-weight: 500;
}

.final-form__container {
  max-width: 840px;
}
.final-form__shipping {
  margin: 0 0 30px 0;
}
.final-form__payment {
  margin: 0 0 50px 0;
}
.final-form__pay-button {
  color: #fff;
  text-align: center;
  font-family: "Causten", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 16px 20px;
  border-radius: 8px;
  background-color: #8a33fd;
}
.final-form__pay-button:not(:last-child) {
  margin: 0 0 20px 0;
}
@media (any-hover: hover) {
  .final-form__pay-button:hover {
    background-color: #6620c1;
  }
}

.subtitle {
  color: #3c4242;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.shipping {
  padding: 0 0 30px 0;
  border-bottom: 2px solid #edeef2;
}
.shipping__title:not(:last-child) {
  margin: 0 0 8px 0;
}
.shipping__title--margin:not(:last-child) {
  margin: 0 0 30px 0;
}
.shipping__subtitle:not(:last-child) {
  margin: 0 0 30px 0;
}
.items-box {
  border-radius: 12px;
  background-color: #f6f6f6;
  padding: 14px 48px 14px 28px;
  color: #3c4242;
  font-family: "Causten", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.items-box__item {
  padding: 25px 0;
}
.items-box__item:not(:last-child) {
  border-bottom: 1px solid #bebcbd;
}
.items-box__item input[type=radio] {
  margin-right: 19px;
}
.items-box__item label:not(:last-child) {
  margin: 0 0 5px 0;
}
.items-box__item--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
@media (max-width: 453px) {
  .items-box__item {
    font-size: 18px;
  }
}
.items-box__date:not(:last-child) {
  margin: 0 0 8px 0;
}
.items-box__warning {
  color: #807d7e;
  font-size: 16px;
  font-weight: 500;
}
.items-box__warning:not(:last-child) {
  margin: 0 0 8px 0;
}
.items-box__item--flex .items-box__delivery:not(:last-child) {
  margin: 0 0 8px 0;
}
.items-box__accept {
  margin: 0 0 30px 0;
}
.items-box__subtitle {
  padding-left: 37px;
}
.items-box__subtitle:not(:last-child) {
  margin: 0 0 5px 0;
}
.items-box__methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0;
  margin: 0 0 30px 0;
}
@media (max-width: 495px) {
  .items-box__methods {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.items-box__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 28px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 544px) {
  .items-box__info {
    grid-template-columns: 1fr;
  }
}
.items-box__input {
  position: relative;
}
.items-box__input input {
  background-color: #f6f6f6;
  width: 100%;
  padding: 17px 19px;
  border-radius: 8px;
  border: 1px solid #3c4242;
  font-family: "Causten", sans-serif;
  font-size: 14px;
}
.items-box__input input:focus {
  outline: 1px solid #3c4242;
}
.items-box__input input::-webkit-input-placeholder {
  color: #807d7e;
  font-weight: 400;
  font-size: 14px;
}
.items-box__input input::-moz-placeholder {
  color: #807d7e;
  font-weight: 400;
  font-size: 14px;
}
.items-box__input input:-ms-input-placeholder {
  color: #807d7e;
  font-weight: 400;
  font-size: 14px;
}
.items-box__input input::-ms-input-placeholder {
  color: #807d7e;
  font-weight: 400;
  font-size: 14px;
}
.items-box__input input::placeholder {
  color: #807d7e;
  font-weight: 400;
  font-size: 14px;
}
.items-box__show-button {
  position: absolute;
  top: 16px;
  right: 20px;
}
.items-box__radio {
  position: relative;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-radio + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom-radio + label::before {
  content: "";
  width: 18px;
  height: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  border: 2px solid #3c4242;
  border-radius: 50%;
  margin: 0 19px 0 0;
}
.custom-radio:checked + label::before {
  background: url("../img/icons/radio-selected.svg") no-repeat center;
}
.custom-radio--absolute + label {
  position: relative;
  padding-left: 37px;
}
.custom-radio--absolute + label::before {
  position: absolute;
  top: 55%;
  left: 0;
}

.payment__title:not(:last-child) {
  margin: 0 0 8px 0;
}
.payment__subtitle:not(:last-child) {
  margin: 0 0 30px 0;
}
.footer {
  background-color: #3c4242;
  padding: 59px 0;
}
.footer__container {
  max-width: 1250px;
}
@media (max-width: 859px) {
  .footer__info {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 668px) {
  .footer__info {
    margin: 0 0 50px 0;
  }
}
.footer__popular {
  margin: 0 0 37px 0;
}
@media (max-width: 1256px) {
  .footer {
    padding: 40px 0;
  }
}
@media (max-width: 859px) {
  .footer {
    padding: 40px 0;
  }
}

.title-footer {
  color: #f6f6f6;
  font-family: "Causten", sans-serif;
  font-size: 28.579px;
  font-weight: 700;
  line-height: 2.1;
}

.info-footer__container {
  max-width: 1089px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 512px) {
  .info-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 602px) {
  .info-footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}
@media (max-width: 512px) {
  .info-footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.info-footer__title:not(:last-child) {
  margin: 0 0 20px 0;
}
@media (max-width: 859px) {
  .info-footer__title:not(:last-child) {
    margin: 0 0 10px 0;
  }
}
.list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.list-footer__item a,
.list-footer__item p {
  color: #f6f6f6;
  font-family: "Causten", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}
@media (max-width: 859px) {
  .list-footer {
    gap: 15px;
  }
}

.social {
  margin: 0 0 50px 0;
}
.social__container {
  max-width: 1089px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0;
}
@media (max-width: 668px) {
  .social__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.social__media {
  -ms-flex-item-align: end;
      align-self: end;
}
@media (max-width: 668px) {
  .social__media {
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
}
.social__media .social__link {
  width: 37px;
}
.social__media img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 37/37;
}
.social__app {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 395px;
          flex: 0 1 395px;
}
@media (max-width: 1086px) {
  .social__app {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.social__app img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 154/51;
}
.social__app .social__link {
  width: 154px;
}
.social__media .social__link {
  width: 37px;
}
.social__link:not(:last-child) {
  margin: 0 10px 0 0;
}
.social__link--margin:not(:last-child) {
  margin: 0 20px 0 0;
}
.social__title:not(:last-child) {
  margin: 0 0 20px 0;
}
.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular__container {
  padding: 29px 32px 29px 76px;
  border-bottom: 1px solid rgba(190, 188, 189, 0.4);
  border-top: 1px solid rgba(190, 188, 189, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1250px;
}
@media (max-width: 602px) {
  .popular__container {
    padding: 20px 10px;
  }
}
.popular img {
  cursor: pointer;
}
.popular__title {
  line-height: 1.2;
}
@media (max-width: 602px) {
  .popular__title {
    font-size: 22px;
  }
}

.copyright__text {
  color: #fff;
  font-family: "Causten", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  text-align: center;
}
@media (max-width: 602px) {
  .copyright__text {
    font-size: 14px;
  }
}