.subtitle {
  color: $darkMainColor;
  font-family: "Inter", sans-serif;
  font-size: toREM(18);
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  gap: toEM(7);
  text-transform: capitalize;

  z-index: 5;

  &::before {
    content: "";
    width: toEM(11, 18);
    height: toEM(11, 18);
    background-color: $greenColor;
    margin-top: toEM(6);
    flex: 0 0 toEM(11);
  }

  @media (max-width: toEM(878)) {
    font-size: toREM(16);
  }
}
.title {
  color: $darkMainColor;
  font-family: "Poppins", sans-serif;
  font-size: toREM(40);
  font-weight: 700;
  line-height: 1.21;
  text-transform: capitalize;

  position: relative;
  z-index: 2;

  @media (max-width: toEM(878)) {
    font-size: toREM(30);
  }
}
.text {
  position: relative;
  color: #7d7d7d;
  font-family: "Inter", sans-serif;
  font-size: toREM(18);
  font-weight: 400;
  line-height: 1.46;
  z-index: 5;

  @media (max-width: toEM(878)) {
    font-size: toREM(16);
  }
}
.button {
  padding: toREM(21) toREM(35);
  text-transform: capitalize;

  font-family: "Inter", sans-serif;
  font-size: toREM(18);
  font-weight: 600;

  transition: all 0.4s;

  z-index: 5;

  &--green {
    background-color: $greenColor;
    color: #37393f;

    @media (any-hover: hover) {
      &:hover {
        background-color: $violetColor;
        color: $lightMainColor;
      }
    }
  }
  &--violet {
    background-color: $violetColor;
    color: $lightMainColor;

    @media (any-hover: hover) {
      &:hover {
        color: #37393f;
        background-color: $greenColor;
      }
    }
  }
}
.item-list {
  display: flex;
  gap: toEM(8);

  color: $darkMainColor;
  font-family: "Poppins", sans-serif;
  font-size: toREM(20);
  font-weight: 400;
  line-height: 1.2;
  &::before {
    content: "";
    width: toEM(27);
    height: toEM(27);
    background: url("../img/icons/care/mark.svg") no-repeat center;
    flex: 0 0 toEM(27);
    margin-top: toEM(-5);
  }
}
