.header {
  background-color: $lightMainColor;
  text-transform: capitalize;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;

  &__container {
    min-height: toREM(130);
    display: flex;
    gap: toREM(15);
    justify-content: space-between;
    align-items: center;

    @media (max-width: toEM(998.91)) {
      gap: toREM(30);
      min-height: toREM(80);
    }
    @media (max-width: toEM(544)) {
      gap: 0;
    }
  }

  &__logo {
    position: relative;
    z-index: 20;
    @media (max-width: toEM(998.91)) {
      flex-grow: 1;
    }
  }

  &__menu {
  }

  &__button {
    padding: toREM(21) toREM(35);

    font-family: "Cabin", sans-serif;

    position: relative;
    z-index: 2;

    @media (max-width: toEM(544)) {
      display: none;
    }
  }
}
.menu {
  &__body {
    .menu-opened & {
      left: 0;
    }
    @media (max-width: toEM(998.91)) {
      width: 70%;
      height: 100%;
      background-color: #6b77e5;
      position: fixed;
      top: toREM(60);
      left: -100%;
      overflow: auto;

      transition: all 0.3s;

      padding: 0 0 0 toREM(30);

      &::before {
        content: "";
        width: 100%;
        height: toREM(80);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: #fff;
      }
    }
    @media (max-width: toEM(756)) {
      top: 0;
      &::before {
        top: 0;
      }
    }
    @media (max-width: toEM(461)) {
      width: 100%;
    }
  }

  &__list {
    color: #37393f;
    font-family: "Inter", sans-serif;
    font-size: toREM(18);
    font-weight: 400;

    display: flex;
    gap: toREM(30);
    flex-wrap: wrap;

    @media (max-width: toEM(998.91)) {
      flex-direction: column;
      padding-top: toREM(130);

      font-size: toREM(38);
      color: #fff;
    }
    @media (max-width: toEM(544)) {
      font-size: toREM(34);
    }
  }

  &__item {
    &--relative {
      position: relative;

      @media (max-width: toEM(998.91)) {
        margin-bottom: toREM(10);
      }

      &:hover {
        .submenu {
          visibility: visible;
          opacity: 1;
          pointer-events: all;
          transform: translate(0px, 0px);
        }

        .menu__link::after {
          transform: rotate(180deg);
        }
      }
      .menu__link {
        &::after {
          content: "";
          width: 12px;
          height: 8px;
          margin-left: toREM(3);
          background: url("../img/icons/header/arrow-down.svg") no-repeat center;

          transition: transform 0.3s;

          @media (max-width: toEM(998.91)) {
            display: none;
          }
        }
      }
    }
  }

  &__link {
    transition: all 0.2s;
    @media (any-hover: hover) {
      &:hover {
        color: $greenColor;
      }
    }
  }

  &__submenu {
  }
}
.submenu {
  opacity: 0;
  visibility: hidden;
  padding: toREM(5) 0 0 0;
  min-width: toREM(300);
  position: absolute;
  top: 100%;
  left: 0;
  pointer-events: none;
  transition: all 0.3s;
  transform: translate(0px, 20px);

  @media (max-width: toEM(998.91)) {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    position: relative;

    font-size: toREM(28);
  }
  @media (max-width: toEM(544)) {
    font-size: toREM(22);
  }

  &__item {
    border: 1px solid black;
    background-color: $lightMainColor;

    @media (max-width: toEM(998.91)) {
      border: none;
      background-color: transparent;
    }
  }

  &__link {
    padding: toREM(10);
    width: 100%;
    transition: all 0.3s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #40ddb6;
        color: #fff;
      }
    }

    @media (max-width: toEM(998.91)) {
      display: flex;

      gap: toREM(10);
      &::before {
        width: toREM(10);
        height: toREM(10);
        content: "";
        background-color: #40ddb6;
        flex: 0 0 toREM(10);
        margin-top: toREM(6);
      }
    }
  }
}

.icon-menu {
  display: none;

  @media (max-width: toEM(998.91)) {
    display: block;
    flex: 0 0 toREM(40);
    height: toREM(25);
    position: relative;
    z-index: 5;
  }

  &::before,
  &::after,
  span {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #000;
    transition: all 0.3s;
  }
  &::before {
    top: 0;
    .menu-opened & {
      top: 50%;
      margin-bottom: toREM(-2);
      transform: rotate(-45deg);
      background-color: #40ddb6;
    }
  }
  &::after {
    bottom: 0;
    .menu-opened & {
      bottom: 50%;
      margin-bottom: toREM(-2);
      transform: rotate(45deg);
      background-color: #40ddb6;
    }
  }
  span {
    margin-top: -1px;
    .menu-opened & {
      transform: scale(0);
    }
  }
}
