.sub-header {
  color: $lightMainColor;
  font-size: toREM(14);
  font-weight: 400;
  background-color: #37393f;

  @media (max-width: toEM(828)) {
    font-size: toREM(12);
  }

  @media (max-width: toEM(756)) {
    display: none;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: toREM(60);
  }

  &__addresses {
    display: flex;
    gap: toREM(42);

    @media (max-width: toEM(991.91)) {
      gap: toREM(20);
    }
  }

  &__address {
    display: flex;
    gap: toREM(11);
    align-items: center;

    a {
      transition: color 0.3s;
      @media (any-hover: hover) {
        &:hover {
          color: #40ddb6;
        }
      }
    }
  }

  &__info {
    display: flex;
    gap: toREM(50);
    @media (max-width: toEM(991.91)) {
      gap: toREM(20);
    }
  }

  &__time {
    display: flex;
    align-items: center;
    gap: toREM(4);
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: toREM(16);
    @media (max-width: toEM(991.91)) {
      gap: toREM(8);
    }
  }
  &__link-icon {
    img {
      transition: transform 0.3s;
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
